/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #808080;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.hero {
    background-image: url('img/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

.book-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.book {
    width: 23%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

.book img {
    max-width: 100%;
    height: auto;
}

.book .read-button {
    background-color: darkgreen;
    color: white;
    padding: 6px 18px;
    border: none;
    text-align: left;
    text-decoration: none;
    display: auto;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.book .read-button:hover {
    background-color: #555;
}

.footer {
    background-color: #808080;
    color: black;
    padding: 5px;
    text-align: center;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    width: 30%;
}

.footer h3 {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p {
    color: black;
    font-size: 14px;
    line-height: 20px;
}